.company-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.company {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.stock-header {
    font-size: 7rem;
    padding-top: 100px;
    padding-bottom: 100px;
}

.company:hover {
    transform: translateY(-5px);
}

.company img {
    padding-top: 30px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
}

.company h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.company .amount {
    font-size: 20px;
    color: gray;
}

.company p.price {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
}  

.btn-stock {
    background-color: #3182f6;
    color: #fff;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    width: 60px;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}